body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}

.info {
    text-align: center;
    font-style: normal;
    color: rgba(255, 255, 255, 0.7);
}

.modal-body,
.modal-content {
    text-align: center;
    background-color: rgba(145, 145, 145, 0.7);
    border-radius: 10px;
}

#by {
    margin-top: 15px;
    font-size: 0.6rem;
}

p,
h3 {
    color: rgba(255, 255, 255, 0.7);
}

a {
    color: rgba(255, 255, 255, 0.7);
}

#welcome {
    align-self: center;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    letter-spacing: 0.3em;
    color: rgba(255, 255, 255, 0.7);
}

input {
    text-align: center;
    width: 95%;
    display: inline-block;
    background: transparent;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    border-radius: 0;
    padding: 10px 2px 10px;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(214, 214, 214, 0.589), rgba(80, 80, 80, 0.8), rgba(255, 255, 255, 0.589));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.625rem;
    border: none;
    border-radius: 5px;
}

input:focus {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(71, 71, 71);
    background-position: 99% 50%;
    border-radius: 15px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(22, 22, 22, 0.815);
    font-size: large;
    opacity: 1;
    /* Firefox */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    height: auto;
    width: 350px;
    background: linear-gradient(to bottom, #00000091 0%, #000000 100%);
    border-radius: 10px;
}

button {
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 0.625rem;
    letter-spacing: 0.3em;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 0;
    padding: 18px 80px 20px;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(117, 117, 117, 0.308), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.625rem;
    border: none;
    border-radius: 5px;
}

button:hover {
    border: 1px solid rgba(78, 78, 78, 0.3);
    color: rgb(255, 255, 255);
    background-position: 99% 50%;
}

label {
    font-weight: 500;
    font-style: normal;
    font-size: 0.625rem;
    letter-spacing: 0.3em;
    color: rgba(255, 255, 255, 0.7);
    padding: 18px 80px 0px 12px;
}


/* hide number input arrow */


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}